package shared

templ Footer() {
	<footer class="container">
		<small>espressoapi-go &middot; <a href="/swagger">API docs (Swagger)</a> &middot; <a href="/redoc">API docs (Redoc)</a></small>
	</footer>
}
